# Flask configuration
SECRET_KEY=generate-a-random-secret-key-here
APP_PASSCODE=1234  # Passcode to unlock the period dashboard

# Firebase configuration
# Can be a JSON string of your service account or the path to your service account JSON file
FIREBASE_CREDENTIALS_JSON=douaa-b2c57-firebase-adminsdk-fbsvc-191879d625.json
FIREBASE_DB_URL=https://douaa-b2c57-default-rtdb.firebaseio.com/
